* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgb(212, 145, 156), rgb(121, 183, 203));
}

main {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #027373;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f2c12e;
}

input {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(213, 239, 213);
  border: none;
  border-radius: 4px;
}

form button {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin-top: 1rem;
  background-color: #f2c12e;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

form button:hover {
  background-color: #d0a72c;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-top: 1rem;
  background-color: #10abb4;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

li article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #502000;
}

li p {
  margin: 0;
  font-size: 1rem;
}

li button {
  padding: 0.5rem;
  background: transparent;
  border: none;
  color: #0b35f3;
  cursor: pointer;
  transition: background 0.5s;
}

li button:hover {
  background: salmon;
  color: white;
  border-radius: 3px;
}
