* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgb(212, 145, 156), rgb(121, 183, 203));
}

main {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
}

header {
  display: flex;
  flex-direction: column;
}
